azure-cognitiveservices-language-textanalytics==0.2.1
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.23.1
azure-mgmt-core==1.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
gunicorn==20.0.4
idna==3.3
isodate==0.6.1
kaggle==1.5.12
msrest==0.6.21
numpy==1.22.3
oauthlib==3.2.0
opendatasets==0.1.22
Pillow==9.1.0
plotly==5.9.0
pymongo==4.1.1
pyparsing==3.0.8
python-dateutil==2.8.2
python-slugify==6.1.2
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
tenacity==8.0.1
text-unidecode==1.3
tornado==6.1
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
azure-cognitiveservices-language-textanalytics==0.2.1
azure-cognitiveservices-vision-computervision==0.9.0
azure-common==1.1.28
azure-core==1.23.1
azure-mgmt-core==1.3.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.3
colorama==0.4.5
gunicorn==20.0.4
idna==3.3
isodate==0.6.1
kaggle==1.5.12
msrest==0.6.21
numpy==1.22.3
oauthlib==3.2.0
opendatasets==0.1.22
Pillow==9.1.0
plotly==5.9.0
pymongo==4.1.1
pyparsing==3.0.8
python-dateutil==2.8.2
python-slugify==6.1.2
PyYAML==6.0
requests==2.27.1
requests-oauthlib==1.3.1
six==1.16.0
tenacity==8.0.1
text-unidecode==1.3
tornado==6.1
tqdm==4.64.0
typing_extensions==4.1.1
urllib3==1.26.9
