<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
</head>
<body>

{% include 'header.html'%}

<div style="margin:5px 0px 0px;">

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">

        <div id='chart' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">
        <div id='chart2' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">

        <div id='chart3' class='chart' ”></div>

    </div>

    <div style="clear:left;height:80px;width:auto;">
        <h3 style="text-align:center">Analysis</h3>
    </div>


</div>


<div style="margin:50px 0px 0px;">

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">

        <div id='chart4' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">
        <div id='chart5' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">

        <div id='chart6' class='chart' ”></div>

    </div>

    <div style="clear:left;height:80px;width:auto;">
        <h3 style="text-align:center">Analysis</h3>
    </div>


</div>





<div style="margin:50px 0px 0px;">

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">

        <div id='chart7' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px;float:left;height:500px;width:550px;">
        <div id='chart8' class='chart' ”></div>
    </div>

    <div style="margin:0px 2% 0px 0px;float:left;height:500px;width:550px;">

        <div id='chart9' class='chart' ”></div>

    </div>

    <div style="clear:left;height:80px;width:auto;">
        <h3 style="text-align:center">Analysis</h3>
    </div>


</div>









</body>


<script type='text/javascript'>
  var graphs = {{graphJSON | safe}};
  var graphs2 = {{graphJSON2 | safe}};
  var graphs3 = {{graphJSON3 | safe}};
  var graphs4 = {{graphJSON4 | safe}};
  var graphs5 = {{graphJSON5 | safe}};
  var graphs6 = {{graphJSON6 | safe}};
  var graphs7 = {{graphJSON7 | safe}};
  var graphs8 = {{graphJSON8 | safe}};
  
  var graphs9 = {{graphJSON9 | safe}};






  Plotly.plot('chart',graphs,{});

  Plotly.plot('chart2',graphs2,{});

  Plotly.plot('chart3',graphs3,{});

  Plotly.plot('chart4',graphs4,{});

  Plotly.plot('chart5',graphs5,{});

  Plotly.plot('chart6',graphs6,{});

  Plotly.plot('chart7',graphs7,{});

  Plotly.plot('chart8',graphs8,{});
  
  Plotly.plot('chart9',graphs9,{});










</script>


</script>
</html>